<link rel="stylesheet" href="/css/row-buttons.css" />

<h2 class="page-header" align="right">{{viewModel.name}}</h2>
<script type="text/javascript">
    var item = {{{ item }}};
</script>

{{#if errors}}
<div class="error-container">
    {{#each errors}}
    <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
</div>
{{/if}}


<div class="view part">
    <div class="image">
        <img src="{{viewModel.image}}" style="max-width:160px;max-height:160px;min-height:160px;margin-top:20px;"
            class="center-block temp-image">
    </div>
    <div class="first-acquired">Acquired: {{viewModel.firstAcquired}}</div>
    <div class="last-modified">Modified: {{viewModel.lastModified}}</div>
    <div class="stock">Stock: {{viewModel.stock}}</div>
    <div class="category">Category: {{viewModel.category}}</div>
    <div class="type">
        <div class="property">Type</div>
        <div class="name"><a href="/types/register/{{viewModel.type.id}}">{{viewModel.type.name}}</a></div>
        <div class="value">{{viewModel.type.description}}</div>
    </div>
    <div class="location">
        <div class="property">Location</div>
        <div class="name"><a href="/locations/register/{{viewModel.location.id}}">{{viewModel.location.name}}</a></div>
        <div class="value">{{viewModel.location.description}}</div>
    </div>
    {{#if viewModel.manufacturer}}
    <div class="manufacturer">
        <div class="property">Manufacturer</div>
        <div class="name"><a
                href="/manufacturers/register/{{viewModel.manufacturer.id}}">{{viewModel.manufacturer.name}}</a></div>
        <div class="value">{{viewModel.manufacturer.description}}</div>
    </div>
    {{/if}}
    {{#if viewModel.supplier}}
    <div class="supplier">
        <div class="property">Supplier</div>
        <div class="name"><a href="/suppliers/register/{{viewModel.supplier.id}}">{{viewModel.supplier.name}}</a></div>
        <div class="value">{{viewModel.supplier.description}}</div>
    </div>
    {{/if}}
    <div class="files">
        Files:
        <dl>
            {{#each viewModel.files}}
            <dt><a href="{{this.src}}">{{this.name}}</a> {{this.size}} </dt>
            <dd>{{this.description}}</dd>
            {{/each}}
        </dl>
    </div>
    <div class="links">
        Links:
        <dl>
            {{#each viewModel.urls}}
            <dt><a href="{{this.url}}">{{this.name}}</a> </dt>
            {{/each}}
        </dl>
    </div>
    <div class="markdown document description">
        {{{viewModel.markdown}}}
    </div>
</div>
<script src="/js/row-buttons.js"></script>
<script src="/js/view.js" type="text/javascript" charset="utf-8"></script>