<link rel="stylesheet" href="/css/row-buttons.css" />
<link rel="stylesheet" href="/css/view.css" />
<script type="text/javascript">
    var item = {{{ item }}};
</script>

{{#if errors}}
<div class="error-container">
    {{#each errors}}
    <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
</div>
{{/if}}

<div class="view part">


    <h2 class="page-header">{{viewModel.name}}</h2>

    {{!-- Image and most properties on the side --}}
    <div class="row desktop-image-props hidden-xs"> {{!-- Desktop --}}
        <div class="col-xs-3"> {{!-- Image --}}
            <div class="image">
                <a href="{{viewModel.image}}" target="_blank">
                    <img src="{{viewModel.image}}" class="center-block temp-image">
                </a>
            </div>
        </div>
        <div class="col-xs-offset-1 col-xs-8"> {{!-- long Properties --}}
            <div class="row property-container lg">
                <div class="row">
                    <div class="col-xs-2">
                        <div class="type property">Type</div>
                    </div>
                    <div class="col-xs-10 values">
                        <div class="name"><a href="/types/register/{{viewModel.type.id}}">{{viewModel.type.name}}</a>
                        </div>
                        <div class="description">{{viewModel.type.description}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <div class="location property">Location</div>
                    </div>
                    <div class="col-xs-10 values">
                        <div class="name"><a
                                href="/locations/register/{{viewModel.location.id}}">{{viewModel.location.name}}</a>
                        </div>
                        <div class="description">{{viewModel.location.description}}</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-3 sm-left">
                    <div class="property-container">
                        <div class="property stock">Stock</div>
                        <div>{{viewModel.stock}}</div>
                        <div class="property acquired">Acquired</div>
                        <div>{{viewModel.firstAcquired}}</div>
                        <div class="property modified">Modified</div>
                        <div>{{viewModel.lastModified}}</div>
                    </div>
                </div>
                <div class="col-xs-9 sm-right">
                    <div class="property-container">
                        <div class="property category">Category</div>
                        <div class="name">{{viewModel.category}}</div>
                        <div class="property supplier">Supplier</div>
                        <div class="name"><a href="/suppliers/register/{{viewModel.supplier.id}}" rel="tooltip"
                                data-placement="bottom"
                                title="{{viewModel.supplier.description}}">{{viewModel.supplier.name}}</a></div>
                        <div class="property manufacturer">Manufacturer</div>
                        <div class="name"><a href="/manufacturers/register/{{viewModel.manufacturer.id}}" rel="tooltip"
                                data-placement="bottom"
                                title="{{viewModel.manufacturer.description}}">{{viewModel.manufacturer.name}}</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <a href="/parts/register/{{viewModel.id}}" class="btn btn-xs btn-default pull-right">
            <span class="glyphicon glyphicon-edit"></span>
            &nbsp;Edit </a>
    </div>

    {{!-- Links and files --}}
    <div class="row">
        <div class="col-xs-4">
            <div class="links">
                <div class="property ">Links:</div>
                <div>
                    {{#each viewModel.urls}}
                    <div><a href="{{this.url}}"><span class="name">{{this.name}}</span></a> </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="col-xs-8">
            <div class="files">
                Files:
                {{#each viewModel.files}}
                <div class="row property-container lg">
                    <div class="flex-space-between">
                        <div class="name">
                            <a 
                                {{#ifCond this.isPartImage true}} 
                                    class="file-is-part-image" 
                                    title="This is the part image you see above" rel="tooltip" data-placement="bottom"
                                {{/ifCond}}
                                target="_blank" href="{{this.src}}">{{this.name}} 
                            </a>
                        </div>
                        <div class="size">{{this.size}} </div>
                    </div>
                    <div class="description">{{this.description}}</div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>


    <div class="markdown document description">
        {{{viewModel.markdown}}}
    </div>

    {{#if admin}}
    <div class="row">
        <div class="col-md-12" style="margin-top:10px">
            {{#if viewModel.id}}
            <a href="/parts/register/{{viewModel.id}}" class="btn btn-xs btn-default"> <span
                    class="glyphicon glyphicon-edit"></span>&nbsp;Edit </a>
            {{/if}}
        </div>
    </div>
    {{/if}}
</div>

<script src="/js/row-buttons.js"></script>
<script src="/js/view.js" type="text/javascript" charset="utf-8"></script>